<div class="whitebox col-12 text-center">
  <div class='col-xs-12 text-center '>  
    <div class='col-xs-12 text-center '>  
      <h3 class='textbox'>Joseph Voss</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <a href='mailto:jvoss@josephvoss.com' target="_blank"><i class='fa fa-envelope fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>

      <div class="col">
        <a href='https://github.com/josephvoss' target="_blank"><i class='fa fa-github fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>

      <div class="col">
        <a href='https://www.linkedin.com/in/josephvoss14' target="_blank"><i class='fa fa-linkedin fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>

      <div class="col">
        <a href='/resume.pdf' target="_blank"><i class='fa fa-file-text fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>

      <!--
      <div class="col">
        <a href='https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x8819979cb823142fd8897ad98089b0998c7ec376' target="_blank"><i class='fa fa-key fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>
      -->
    </div>
  </div>
  <br>

Mechanical Engineering student at The University of Texas at Austin
specializing in Mechatronics and High Performance Computing.
  <br>
  <br>
</div>
<div class='gap col-xs-12'></div>  

<div class="whitebox textbox col-12" style='word-wrap: break-word;'>
  <div class="text-center">
    <h4>Site List</h4>
  </div>
</div>
<div class='gap col-xs-12'></div>  
