<div class="whitebox textbox col-12">
  <div class="text-center">
    <h4>Posts</h4>
    <hr>
  </div>
  <ul>
    {{ range where .Site.RegularPages "Type" "post" }}
    <li><a class='link' href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>

</div>
<div class='gap col-xs-12'></div>  
<div class="whitebox textbox col-12" style='word-wrap: break-word;'>
  <div class="text-center">
    <h4>Publications</h4>
  </div>
  <hr>
  <ul>
    {{ range where .Site.RegularPages "Type" "publication" }} <li><a class='link' href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
</div>
