<div>
  <h2 class="text-center">Posts</h2>
  <hr>
  <ul>
    {{ range where .Site.RegularPages "Type" "post" }}
    <li><a class='nounder-link' href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
</div>

<div>
  <h2 class="text-center">Publications</h2>
  <hr>
  <ul>
    {{ range where .Site.RegularPages "Type" "publication" }} <li><a class='nounder-link' href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
</div>

<div>
  <h2 class="text-center">Other Sites</h2>
  <hr>
  <ul>
    {{ range .Site.Params.other_sites }}
    <li><a class='nounder-link' href='{{ .url }}'>{{ .name }}</a></li>
    {{ end }}
  </ul>
</div>
