<div class="head">
  <div class="flex-container">
    <div class="site-title">
      <a class='link' href="/">
        {{ .Site.Params.author.name }}
      </a>
    </div>
    {{ range .Site.Menus.main }}
    <div class='menu-item'><a class='link' href="{{ .URL }}">{{ .Name }}</a></div>
    {{ end }}
  </div>
  <div class="icon-bar">
    {{ range .Site.Params.author.icons }}
      <a class="icon" href='{{ .href }}'><i class='{{ .classes }}'></i></a>
    {{ end }}
  </div>
</div>

<!--
<div class="whitebox col-12 text-center">
  <div class='col-xs-12 text-center '>  
    <div class='col-xs-12 text-center '>  
      <h3 class='textbox'>{{ .Site.Params.author.name }}</h3>
      <hr>
    </div>
    <div class="row">
      {{ range .Site.Params.author.icons }}
      <div class="col">
        <a href='{{ .href }}' target="_blank"><i class='{{ .classes }}' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>
      {{ end }}

      <div class="col">
        <a href='https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x8819979cb823142fd8897ad98089b0998c7ec376' target="_blank"><i class='fa fa-key fa-1x' style="vertical-align: middle; font-size: 1.5em;"></i></a>
      </div>
    </div>
  </div>
  <br>
{{ .Site.Params.author.blurb }}
  <br>
  <br>
</div>
<div class='gap col-xs-12'></div>  

<div class="whitebox col-12" style='word-wrap: break-word;'>
  <div class="row textbox text-center" style='padding-top: .33rem'>
    {{ range .Site.Menus.main }}
    <div class='col'><a class='link' href="{{ .URL }}">{{ .Name }}</a></div>
    {{ end }}
  </div>
</div>
<div class='gap col-xs-12'></div>  
      -->
