<div class="head">
  <div class="flex-container">
    <div class="flex-container-title">
      <div class="site-title">
        <a class='nounder-link' href="/">
          {{ .Site.Params.author.name }}
        </a>
      </div>
    <div class="icon-bar">
      {{ range .Site.Params.author.icons }}
        <a class="icon" href='{{ .href }}'><i class='{{ .classes }}'></i></a>
      {{ end }}
    </div>
  </div>
  <div class="start-nav-item"></div>
    {{ range .Site.Menus.main }}
    <div class='menu-item'><a class='nounder-link' href="{{ .URL }}">{{ .Name }}</a></div>
    {{ end }}
  </div>
</div>
