{{ define "main" }}
<br>
  <img src="/img/headshot.jpg" class="center_img center-block" style="max-width: 50%; border-radius: 500px; border: 10px solid #FFFFFF;" id="headshot_image" alt="A pretty cool dude">

<div class="textbox">
  <h2 id="title" class="text-center textbox" >{{ .Title }}</h2>
  <hr>
  <div>
    <article id="content">
      {{ .Content }}
      <h3 id="title" class="text-center">Things I wrote</h3>
      <hr>
      <ul>
        {{ range where .Site.RegularPages "Type" "publication" }} <li><a class="nounder-link" href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
        {{ end }}
        <li>
        <a href="http://sites.utexas.edu/studyabroad/self-discovery-in-austria/" class="nounder-link">Reflections on Study Abroad</a>
        </li>
      </ul>
      <br>
    </article>
  </div>
</div>
{{ end }}
