{{ define "main" }}
<br>
  <img src="/img/headshot.jpg" class="center_img center-block" style="max-width: 50%; border-radius: 500px; border: 10px solid #FFFFFF;" id="headshot_image" alt="A pretty cool dude">

<div class="textbox">
  <h2 id="title" class="text-center textbox" >{{ .Title }}</h2>
  <hr>
  <div>
    <article id="content">
      {{ .Content }}
      <h3 id="title" class="text-center">Things I've done</h3>
      <hr>
      <ul>
        {{ range .Params.things_I_did }}
        <li><a class="nounder-link" href='{{ .link }}'>{{ .title }}</a></li>
        {{ end }}
      </ul>
      <h3 id="title" class="text-center">Things I wrote</h3>
      <hr>
      <ul>
        {{ range .Params.things_I_wrote }}
        <li><a class="nounder-link" href='{{ .link }}'>{{ .title }}</a></li>
        {{ end }}
      </ul>
      <br>
    </article>
  </div>
</div>
{{ end }}
